.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.477);
  z-index: 9999;
}

.loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-gif {
  width: 220px;
  height: auto;
}

.loading-text {
  color: #ffffff;
  font-weight: bold;
  margin-top: 16px;
  font-size: 18px;
}

